body,
html {
  height: 100%;
}

h2 {
  font-size: 40px !important;
  background-color: #de2525;
  text-align: center;
  -webkit-text-stroke: 1px #342df1;
}

h3 {
  font-size: 40px !important;
  color: #010100 !important;
  text-align: left;
  -webkit-text-stroke: 2px #0e0d0d;
}

.oculto {
  display: none;
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#detalle-texto {
  font-size: 20px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

#nombre {
  font-size: 40px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}

.list-group-item {
  font-size: 20px;
  font-family: arial;
  text-transform: capitalize;
}

.imagen-pokebola {
  font-size: 22px;
  font-family: arial;
  text-align: center;
}

#atras,
#siguiente {
  color: #dc3545;
}
