body,
html {
  height: 100%;
}

h1 {
  font-size: 70px !important;
  color: #e8ed61 !important;
  background-color: #d34747;
  text-align: center;
  font-family: sans;
  -webkit-text-stroke: 3px rgb(24, 21, 184);
}

.oculto {
  display: none;
}
